<div class="container">
    <div class="question">
        {{#if quiz}}
            {{> question}}
        {{else}}
            <div class="options">
                <a href="/quiz/CustomerSolutions"><button>Customer Solutions</button></a>
                <a href="/quiz/Warehouse"><button>Warehouse</button></a>
            </div>
        {{/if}}
    </div>
</div>