<div class="container">
    <div class="question">
        {{#if quiz}}
            {{> question}}
        {{else}}
            <div class="options">
                <a href="/quiz/0"><button>Customer Solutions</button></a>
                <a href="/quiz/1"><button>Warehouse</button></a>
            </div>
        {{/if}}
    </div>
</div>