<div class="container">
    {{#if quiz}}
        <span id="department" style="visibility: hidden">{{department}}</span>
        <span id="email" style="visibility: hidden">{{manager_email}}</span>
    <form id="the_quiz">
    {{#each questions}}
        {{#if @first}}
            <div class="question_container visible">
                {{> question}}
            </div>
        {{else}}
            <div class="question_container">
                {{> question}}
            </div>
        {{/if}}
    {{/each}}
    </form>
    <button id="btn_next" onclick="changeQuestion()">Next</button>
    <button id="btn_check" style="visibility:hidden" onclick="checkAnswers()">Submit</button>
    {{else}}
        <div class="options">
            <a href="/quiz/Customer Solutions"><button>Customer Solutions</button></a>
            <a href="/quiz/Warehouse"><button>Warehouse</button></a>
        </div>
    {{/if}}
</div>
