<div class="container">
    {{#if quiz}}
    {{#each questions}}
        <div class="question_container">
            {{> question}}
        </div>
    {{/each}}
    {{else}}
        <div class="options">
            <a href="/quiz/Customer Solutions"><button>Customer Solutions</button></a>
            <a href="/quiz/Warehouse"><button>Warehouse</button></a>
        </div>
    {{/if}}
</div>