<div class="container">
    {{#if quiz}}
    <span id="department" style="visibility: hidden">{{department}}</span>
    <span id="email" style="visibility: hidden">{{manager_email}}</span>
    {{#each questions}}
        <div class="question_container" id="{{@index}}">
            {{> question}}
        </div>
    {{/each}}
    <button id="btn_next" onclick="changeQuestion()">Next</button>
    {{else}}
        <div class="options">
            <a href="/quiz/Customer Solutions"><button>Customer Solutions</button></a>
            <a href="/quiz/Warehouse"><button>Warehouse</button></a>
        </div>
    {{/if}}
</div>

<!-- 
    in order to make one question appear at a time, make a big card for each question, 
    then have a next button, the next button will just change the visibility of the other cards
-->