<div class="container">
    {{#if quiz}}
        <div class="question">
            {{> question}}
        </div>
    {{else}}
        <div class="options">
            <a href="/quiz/CustomerSolutions"><button>Customer Solutions</button></a>
            <a href="/quiz/Warehouse"><button>Warehouse</button></a>
        </div>
    {{/if}}
</div>