.content {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 20vw 60vw 20vw;
    
    

    background-color: white;
    
    border-radius: 25px;
    border: 2px solid white;
    padding: 1vw;
}

.container {
    grid-column: 2;
    grid-row: 1;
    row-gap: 2vw;
}

.question {
    /*grid-column: 2;
    grid-row: 2;*/
    padding: 20px;
}

button {
    width: 100%;
    height: 40%;
    margin-top: 5%;
}

body {
    background-color: aqua;
}