.content {
    display: grid;
    background-color: white;
    border-radius: 25px;
    border: 2px solid white;
    padding: 1vw;
    margin: 10vw;
    height: 50vw;
}

.container {
    grid-column: 2;
    grid-row: 1;
    row-gap: 2vw;
}

.question {
    padding: 20px;
}

button {
    width: 100%;
    height: 40%;
    margin-top: 5%;
}

body {
    background-color: aqua;
    height: 100%;
}

.visible {
    visibility: visible;
}

.question_container {
    visibility: hidden;
}